
@{
    ViewBag.Title = "TramXe";
    Layout = "~/Views/Shared/UserLayout/_Main.cshtml";
}

<style>
    iframe {
        width: 100% !important;
        margin-top: 20px;
    }
</style>

<!-- contact section -->
<section class="contact_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container">
            <h2>
                Trạm Xe
            </h2>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8  offset-md-1">
                <div class="contact_form">
                    <h4>
                        Tìm kếm trạm trên bản đồ
                    </h4>
                    <form>
                        <select class="form-control form-control-lg" style="width: 100%" id="select_tram">
                            <option selected>Chọn trạm xe</option>
                            @foreach (var m in @ViewBag.ListTramXe)
                            {
                                <option value="@m.Matram">@m.Tentram - @m.Tentuyenduong - @m.Toado</option>

                            }
                        </select>
                    </form>
                    <button class="btn btn-warning" style="margin-top: 10px;" onclick="search()">Tìm kiếm</button>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div id="manhung"></div>
        </div>
    </div>
</section>
<!-- end contact section -->

<script>
    search = () => {
        var id = $('#select_tram').val();
        $.ajax({
            url: '../UserPage/TramXeById?matram=' + id,
            type: 'GET',
            success: function (result) {
                if (result.success) {
                    $('#manhung').html(result.data.Manhung);
                }
                else {
                    toastr.warning('Failed !');
                    $('.modal').modal('hide');
                }
            }
        });
    }
</script>

